<div class="parentDataBox">

    <h2 style="border: 2px solid black;" >
        Parent 
    </h2>

  <table class="table">
    <tr>
      <td>Message</td>
      <td>
        <input type="text" [(ngModel)]="message" class="form-control" />
      </td>
    </tr>
  </table>

  <hr/>
  <div>
      <p>{{username}}</p>
  </div>
</div>

<div class="childDataBox">
  <app-child [messagefromparent]="message" (messagetoparent) = "receiveEventFromChild($event)"  > </app-child>
</div>


<app-sibling></app-sibling>
