<!-- {{title}} -->

<!-- <nav></nav> -->
<!--<app-navbar></app-navbar> -->

<!--Routing
Routing Module
Routes


-->

<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!---

Built-in Directives
    Attribute Directive
    Structural Directive

Components Directives
Custom Directives


-->
<!-- 
<div [ngClass]="isSpecial ? 'special' : 'noSpecial'">This is inside div</div>
<br />
<div [ngStyle]="{ color: 'green' }">This is another div</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Country</th>
  </tr>
  <tr
    *ngFor="let person of people"
    [ngStyle]="{ 'background-color': getColor(person.country) }"
  >
    <td>
      {{ person.name }}
    </td>
    <td>
      {{ person.country }}
    </td>
  </tr>
</table>

<div appHighlight>
    <p >
        Hello 
    </p>

    <br />
    <ul>
        <li>First</li>
        <li>Second</li>
    </ul>
</div>



<div *appCustomif="condition" >
    <p>
        THis is shown with customif
    </p>
</div>
 -->




<!-- <app-category></app-category> -->
